// Fade
.fade-enter {
  opacity: 0 !important;
}

.fade-enter-active {
  transition: opacity $trans-time ease;
}

.fade-leave-active {
  transition: opacity $trans-time ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

// Fade Group
.fade-group-enter {
  opacity: 0 !important;
}

.fade-group-enter-active {
  transition: opacity $trans-time ease;
}

.fade-group-leave-active {
  position: absolute;
  transition: opacity $trans-time ease;
}

.fade-group-enter-from,
.fade-group-leave-to {
  opacity: 0;
}

