.application {
  padding: em(106) em(16) em(100);

  @include media-breakpoint-up(md) {
    padding: em(116) em(88) em(140);
  }
  @include media-breakpoint-up(lg) {
    padding: em(140) em(135);
  }
  @include media-breakpoint-up(xl) {
    padding: em(140) em(295);
  }

  &__title {
    max-width: em(860);
    font-size: inherit;
    margin-bottom: em(80);

    @include media-breakpoint-down(lg) {
      max-width: em(592);
    }

    @include media-breakpoint-down(md) {
      max-width: em(288);
    }

    @include media-breakpoint-up(md) {
      margin-bottom: em(120);
    }
  }

  &__section {
    margin-bottom: em(50);

    @include media-breakpoint-up(md) {
      margin-bottom: em(80);
    }
  }

  &__tag {
    min-height: em(70);

    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }

  &__field {
    &:not(:last-child) {
      margin-bottom: em(28);

      @include media-breakpoint-up(md) {
        margin-bottom: em(40);
      }
    }

    &--textarea {
      min-height: em(100);
      height: em(100);
    }

    &--group {
      &:not(:last-child) {
        margin-bottom: em(20);
      }
    }

    &--select {
      &:not(:last-child) {
        margin-bottom: em(8);

        @include media-breakpoint-down(md) {
          margin-bottom: em(12);
        }
      }
    }

    &--company-description {
      margin-top: em(20);
    }
  }

  &__wrapper {
    &:not(:last-child) {
      margin-bottom: em(20);
    }
  }

  &__row {
    display: flex;
    align-items: center;
  }

  &__plus-icon {
    width: em(22);
    height: em(22);
    margin-right: em(20);
  }

  &__button {
    &--remove {
      margin-top: auto;
      margin-left: auto;
      color: $color-grey;
      text-decoration-line: underline;
      text-underline-offset: em(2);
    }
  }

  &__font {
    &--title {
      font-family: $font-family-mts-wide;
      font-size: em(28);
      line-height: em(30, 28);
      font-weight: 500;

      @include media-breakpoint-up(md) {
        font-size: em(56);
        line-height: em(62, 56);
      }
      @include media-breakpoint-up(lg) {
        font-size: em(80);
        line-height: 1;
      }
    }

    &--text {
      font-family: $font-family-mts-compact;
      font-size: em(14);
      font-weight: 400;
      line-height: 130%;

      @include media-breakpoint-down(md) {
        display: block;
        font-size: em(11);
      }
    }

    &--remove {
      font-family: $font-family-mts-compact;
      font-size: em(14);
      font-weight: 400;
      line-height: 130%;

      @include media-breakpoint-down(md) {
        display: block;
        font-size: em(11);
      }
    }
  }

  &__send {
    @include media-breakpoint-down(md) {
      width: 100%;
      height: em(52);
    }
  }
}
